
<div class="container">
  <div class="mt-5 d-flex justify-content-lg-center">
    <div class="col-md-7 mt-5 bg-light text-dark border border-lg-dark rounded pb-3">
      <h2 class="text-center mt-3 text-dark">Maropost Project Management</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class:"form-control",autocomplete: "email" %>   
        </div>

        <div class="form-group">
          <% if params[:invite_token].present?%>
            <%= f.hidden_field :invite_token, :value => params[:invite_token]%>
          <% else %>
            <%= f.label :accounts_name %><br />
            <%= f.text_field :accounts_name, class:"form-control",autocomplete: "accounts_name" %>
          <%end%>
        </div>

        <div class ="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, class:"form-control"%>
        </div>


        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class:"form-control",autocomplete: "off" %>
        </div>

        <div class="from-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation,class:"form-control", autocomplete: "off" %>
        </div>

        <div class="text-center mt-3">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>



